.intro-section {
  width: 100%;
  height: 900px;
  background: linear-gradient(#f8faff 67.5%, #f0f4ff 0);
}
@media (max-width: 700px) {
  .intro-section {
    height: 700px;
  }
}
.intro-section .wrap {
  background: url(/src/assets/images/main-bg.png) no-repeat;
  display: block;
  background-size: 920px;
  background-position: 100% 55%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 1200px) {
  .intro-section .wrap {
    width: 100%;
    padding: 0 0.3rem;
    background-size: 80%;
  }
}
@media (max-width: 700px) {
  .intro-section .wrap {
    background-size: 99%;
    background-position: 100% 75%;
  }
}
.intro-section .wrap_slogan {
  display: block;
  color: transparent;
  position: absolute;
  margin-left: 60px;
}
.intro-section .wrap_slogan-main {
  background: url(/src/assets/images/main_slogan.png) no-repeat;
  background-size: 100%;
  height: 223px;
  width: 360px;
  left: -2rem;
  top: 150px;
}
@media (max-width: 1200px) {
  .intro-section .wrap_slogan-main {
    left: 0;
    background-size: 80%;
  }
}
@media (max-width: 700px) {
  .intro-section .wrap_slogan-main {
    background-size: 70%;
    top: 6rem;
    left: -2rem;
  }
}
.intro-section .wrap_slogan-logo {
  background: url(/src/assets/images/main_slogan_logo.png) no-repeat;
  background-size: 178px;
  height: 47px;
  width: 180px;
  left: -2rem;
  bottom: 90px;
}
@media (max-width: 1200px) {
  .intro-section .wrap_slogan-logo {
    display: none;
  }
}

.platform-section {
  width: 100%;
  padding: 5rem 3.5rem 6rem;
  background-color: #ffeb60;
}
.platform-section_wrap {
  width: 890px;
  margin: 0 auto;
}
.platform-section_wrap .contents-header {
  width: 100%;
  text-align: center;
}
.platform-section_wrap .contents-header h2 {
  font-size: 3.2rem;
  padding-bottom: 2rem;
}
.platform-section_wrap .contents-header p {
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: #555;
}
.platform-section_wrap_card-wrap {
  width: 100%;
}
.platform-section_wrap_card-wrap ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 3rem auto 0;
}
.platform-section_wrap_card-wrap ul .card {
  padding: 32px;
  border-radius: 20px;
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 8px 20px 0 rgba(0, 0, 0, 0.1);
}
.platform-section_wrap_card-wrap ul .card_card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.platform-section_wrap_card-wrap ul .card_card-header strong {
  font-size: 1.8rem;
}
.platform-section_wrap_card-wrap ul .card_card-header i {
  width: 2rem;
  background-size: 100%;
  background-repeat: no-repeat;
}
.platform-section_wrap_card-wrap ul .card_card-header i.card-icon1 {
  background-image: url(/src/assets/images/platform-icon1.png);
}
.platform-section_wrap_card-wrap ul .card_card-header i.card-icon2 {
  background-image: url(/src/assets/images/platform-icon2.png);
}
.platform-section_wrap_card-wrap ul .card_card-header i.card-icon3 {
  background-image: url(/src/assets/images/platform-icon3.png);
}
.platform-section_wrap_card-wrap ul .card_card-header i.card-icon4 {
  background-image: url(/src/assets/images/platform-icon4.png);
}
.platform-section_wrap_card-wrap ul .card p {
  font-size: 0.8rem;
  color: #555;
}
.platform-section_wrap_quote-wrap {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
  padding: 20px 26px 16px;
  border-radius: 16px;
  background-color: #ffe04b;
  margin-top: 3rem;
}
.platform-section_wrap_quote-wrap .quote-item {
  position: relative;
  padding-left: 15px;
  color: #aa8525;
  font-size: 0.8rem;
}
.platform-section_wrap_quote-wrap .quote-item::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 6px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #aa8525;
}

.introduce-section {
  width: 100%;
  padding: 5rem 3.5rem 6rem;
}
.introduce-section_wrap {
  width: 1200px;
  margin: 0 auto;
}
.introduce-section_wrap .contents-header {
  width: 100%;
  text-align: center;
}
.introduce-section_wrap .contents-header h2 {
  font-size: 3.2rem;
  padding-bottom: 2rem;
}
.introduce-section_wrap .contents-header p {
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: #555;
}
.introduce-section_wrap_flow-animation-wrap {
  margin-top: 4rem;
}
.introduce-section_wrap_flow-animation-wrap .img-flow {
  height: 220px;
  display: block;
  background-repeat: repeat-x;
  background-size: 3000px;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin-bottom: 1rem;
}
.introduce-section_wrap_flow-animation-wrap .img-flow1 {
  background: url(/src/assets/images/slide1.png);
  animation-name: flow_left;
}
.introduce-section_wrap_flow-animation-wrap .img-flow2 {
  background: url(/src/assets/images/slide2.png);
  animation-name: flow_right;
}
.introduce-section_wrap_flow-animation-wrap .img-flow3 {
  background: url(/src/assets/images/slide3.png);
  animation-name: flow_left;
}
@keyframes flow_left {
  from {
    background-position: 0px;
  }
  to {
    background-position: -3000px;
  }
}
@keyframes flow_right {
  from {
    background-position: -3000px;
  }
  to {
    background-position: 0px;
  }
}

.audiodrama-section {
  width: 100%;
  padding: 5rem 3.5rem 6rem;
  background-color: #f7f7f7;
}
.audiodrama-section_wrap {
  width: 1200px;
  margin: 0 auto;
}
.audiodrama-section_wrap .contents-header {
  width: 100%;
  text-align: center;
}
.audiodrama-section_wrap .contents-header h2 {
  font-size: 3.2rem;
  padding-bottom: 2rem;
}
.audiodrama-section_wrap .contents-header p {
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: #555;
}
.audiodrama-section_wrap .video-poster {
  width: 850px;
  margin: 4rem auto 0;
  position: relative;
}
.audiodrama-section_wrap .video-poster img {
  width: 100%;
}
.audiodrama-section_wrap .video-poster::before {
  content: "";
  background: url(/src/assets/images/video-icon.png);
  background-size: 4rem;
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.book-list-section {
  width: 100%;
  padding: 5rem 3.5rem 6rem;
}
.book-list-section_wrap {
  width: 1200px;
  margin: 0 auto;
}
.book-list-section_wrap .contents-header {
  width: 100%;
  text-align: center;
}
.book-list-section_wrap .contents-header h2 {
  font-size: 3.2rem;
  padding-bottom: 2rem;
}
.book-list-section_wrap .contents-header p {
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: #555;
}
.book-list-section_wrap .booksList-container .books-list {
  margin-bottom: 5rem;
}
.book-list-section_wrap .booksList-container .books-list strong {
  display: block;
  font-size: 1.5rem;
  line-height: 28px;
  color: #242424;
  margin-bottom: 1rem;
  padding-left: 0.7rem;
}
.book-list-section_wrap .booksList-container .books-list .book-container {
  width: 100%;
}
.book-list-section_wrap .booksList-container .books-list .book-container .slide-wrap {
  width: 100%;
  display: flex;
}
.book-list-section_wrap .booksList-container .books-list .book-container .slide-wrap .book {
  width: 14.2857142857%;
  padding: 0.7rem;
}
.book-list-section_wrap .booksList-container .books-list .book-container .slide-wrap .book .book-thumbnail {
  width: 100%;
  padding-bottom: 0.5rem;
}
.book-list-section_wrap .booksList-container .books-list .book-container .slide-wrap .book-title {
  font-weight: 500;
  overflow: hidden;
  max-height: 3rem;
  margin-bottom: 0.2rem;
}
.book-list-section_wrap .booksList-container .books-list .book-container .slide-wrap .book-authors {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.9rem;
  color: #929292;
}
.book-list-section_wrap .booksList-container .books-list .book-container .slide-wrap .book-publisher {
  font-size: 0.8rem;
  color: #929292;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.challenge-section {
  width: 100%;
  padding: 5rem 3.5rem 6rem;
  background-color: #f7f7f7;
}
.challenge-section_wrap {
  width: 1200px;
  margin: 0 auto;
}
.challenge-section_wrap .contents-header {
  width: 100%;
  text-align: center;
}
.challenge-section_wrap .contents-header h2 {
  font-size: 3.2rem;
  padding-bottom: 2rem;
}
.challenge-section_wrap .contents-header p {
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: #555;
}
.challenge-section_wrap_contents-container {
  width: 100%;
  margin-top: 5rem;
}
.challenge-section_wrap_contents-container_main {
  width: 100%;
  height: 600px;
  background: url(/src/assets/images/challenge-bg.png) no-repeat;
  background-size: 100% 100%;
}
.challenge-section_wrap_contents-container_main_text-container {
  width: 100%;
  padding-top: 3rem;
  text-align: center;
}
.challenge-section_wrap_contents-container_main_text-container h3 {
  font-size: 2.5rem;
}
.challenge-section_wrap_contents-container_main_text-container p {
  font-size: 1.35rem;
  margin-top: 1rem;
  color: #333;
}
.challenge-section_wrap_contents-container_card-wrap {
  width: 100%;
  margin-top: 3rem;
}
.challenge-section_wrap_contents-container_card-wrap .card-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.challenge-section_wrap_contents-container_card-wrap .card-container img {
  width: 30%;
  border-radius: 1.5rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.1);
}

.book-tab-section {
  width: 100%;
  padding: 5rem 3.5rem 6rem;
}
.book-tab-section_wrap {
  width: 1200px;
  margin: 0 auto;
}
.book-tab-section_wrap .contents-header {
  width: 100%;
  text-align: center;
}
.book-tab-section_wrap .contents-header h2 {
  font-size: 3.2rem;
  padding-bottom: 2rem;
}
.book-tab-section_wrap .contents-header p {
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: #555;
}
.book-tab-section_wrap_main {
  margin-top: 5rem;
}
.book-tab-section_wrap_main .tab-menu-container .btn-wrap {
  padding-left: 0.7rem;
}
.book-tab-section_wrap_main .tab-menu-container .btn-wrap .btn {
  font-size: 14px;
  overflow: hidden;
  padding: 6px 16px;
  display: inline-block;
  border: 1px solid #242424;
  border-radius: 100px;
  margin-right: 12px;
  color: #242424;
  cursor: pointer;
}
.book-tab-section_wrap_main .tab-menu-container .btn-wrap .btn.active {
  color: #fff;
  background-color: #242424;
}
.book-tab-section_wrap_main .tab-menu-container_book-list-container {
  width: 100%;
}
.book-tab-section_wrap_main .tab-menu-container_book-list-container .book-list {
  display: none;
}
.book-tab-section_wrap_main .tab-menu-container_book-list-container .book-list.active {
  display: block;
}
.book-tab-section_wrap_main .tab-menu-container_book-list-container .book-list .slide-wrap {
  width: 100%;
  display: flex;
}
.book-tab-section_wrap_main .tab-menu-container_book-list-container .book-list .slide-wrap .book {
  width: 14.2857142857%;
  padding: 0.7rem;
}
.book-tab-section_wrap_main .tab-menu-container_book-list-container .book-list .slide-wrap .book .book-thumbnail {
  width: 100%;
  padding-bottom: 0.5rem;
}
.book-tab-section_wrap_main .tab-menu-container_book-list-container .book-list .slide-wrap .book-title {
  font-weight: 500;
  overflow: hidden;
  max-height: 3rem;
  margin-bottom: 0.2rem;
}
.book-tab-section_wrap_main .tab-menu-container_book-list-container .book-list .slide-wrap .book-authors {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.9rem;
  color: #929292;
}
.book-tab-section_wrap_main .tab-menu-container_book-list-container .book-list .slide-wrap .book-publisher {
  font-size: 0.8rem;
  color: #929292;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.reading-section {
  width: 100%;
  padding: 5rem 3.5rem 6rem;
  background-color: #f7f7f7;
}
.reading-section_wrap {
  width: 1200px;
  margin: 0 auto;
}
.reading-section_wrap .contents-header {
  width: 100%;
  text-align: center;
}
.reading-section_wrap .contents-header h2 {
  font-size: 3.2rem;
  padding-bottom: 2rem;
}
.reading-section_wrap .contents-header p {
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: #555;
}
.reading-section_wrap_main {
  width: 100%;
  height: 550px;
  margin: 0 auto;
}
.reading-section_wrap_main_animation-container {
  max-width: 1200px;
  height: 100%;
  position: relative;
  margin: 0 auto;
}
.reading-section_wrap_main_animation-container .mock {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.reading-section_wrap_main_animation-container .tooltip {
  position: absolute;
  top: 52%;
  left: 48%;
  transform: translate(-50%);
}
.reading-section_wrap_main_animation-container .tooltip img {
  width: 100%;
  height: 100%;
}
.reading-section_wrap_main_animation-container .card {
  width: 175px;
  height: 175px;
  position: absolute;
}
.reading-section_wrap_main_animation-container .card img {
  width: 100%;
  height: 100%;
}
.reading-section_wrap_main_animation-container .card1 {
  top: 52%;
  left: 5%;
  opacity: 1;
}
.reading-section_wrap_main_animation-container .card2 {
  top: 18%;
  left: 14%;
  opacity: 1;
}
.reading-section_wrap_main_animation-container .card4 {
  top: 52%;
  left: 77%;
  opacity: 1;
}
.reading-section_wrap_main_animation-container .card3 {
  top: 15%;
  left: 68%;
  opacity: 1;
}
@keyframes card {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  50% {
    transform: scale(0.9);
    opacity: 0.2;
  }
  75% {
    transform: scale(1.05);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.price-section {
  width: 100%;
  padding: 5rem 3.5rem 6rem;
  background-color: #ffeb60;
}
.price-section_wrap {
  width: 1200px;
  margin: 0 auto;
}
.price-section_wrap .contents-header {
  width: 100%;
  text-align: center;
}
.price-section_wrap .contents-header h2 {
  font-size: 3.2rem;
  padding-bottom: 2rem;
}
.price-section_wrap .contents-header p {
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: #555;
}
.price-section_wrap_main {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 4.5rem;
}
.price-section_wrap_main_container {
  display: flex;
  width: 66.6%;
}
.price-section_wrap_main_container_info {
  background: #fff;
  border-radius: 16px;
  padding: 32px;
  width: 50%;
  margin-right: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
}
.price-section_wrap_main_container_info strong {
  font-weight: 700;
  font-size: 1.3rem;
  color: #242424;
}
.price-section_wrap_main_container_info .month {
  display: flex;
  align-items: baseline;
  margin: 16px 0;
}
.price-section_wrap_main_container_info .month span {
  font-weight: 300;
  font-size: 24px;
  color: #242424;
  margin-right: 6px;
}
.price-section_wrap_main_container_info .month p {
  font-weight: 900;
  font-size: 40px;
  line-height: 100%;
  color: #242424;
  margin-right: 2px;
}
.price-section_wrap_main_container_info .month p b {
  font-weight: 700;
  font-size: 16px;
  color: #242424;
}
.price-section_wrap_main_container_info .year {
  margin-bottom: 1rem;
}
.price-section_wrap_main_container_info .year_price {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.price-section_wrap_main_container_info .year_price p {
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 22px;
  color: #6f6f6f;
  margin: 0 0.5rem 0 1.5rem;
  text-decoration: line-through;
}
.price-section_wrap_main_container_info .year_price img {
  width: 57px;
  vertical-align: top;
}
.price-section_wrap_main_container_info .year_discount {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.price-section_wrap_main_container_info .year_discount span {
  font-weight: 300;
  font-size: 24px;
  color: #242424;
  margin-right: 6px;
}
.price-section_wrap_main_container_info .year_discount p {
  font-weight: 900;
  font-size: 40px;
  line-height: 100%;
  color: #242424;
  margin-right: 2px;
}
.price-section_wrap_main_container_info .year_discount p b {
  font-weight: 700;
  font-size: 16px;
  color: #242424;
}
.price-section_wrap_main_container_info p {
  font-size: 0.9rem;
  line-height: 20px;
  color: #6f6f6f;
  text-align: left;
}
.price-section_wrap_main_info-container_container {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: 1rem;
}
.price-section_wrap_main_info-container_container img {
  width: 72px;
  margin-right: 24px;
}
.price-section_wrap_main_info-container_container p {
  font-weight: 700;
  font-size: 1rem;
  line-height: 22px;
  color: #242424;
}

.slide-section {
  background-color: #f7f7f7;
  padding-bottom: 10rem;
}
.slide-section .tab-btn-container {
  width: 100%;
  height: 105px;
  background-color: #fff;
}
.slide-section .tab-btn-container .btn-wrap {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.slide-section .tab-btn-container .btn-wrap .btn {
  display: flex;
  width: 33.3%;
  padding: 30px 0;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  color: #242424;
  font-size: 14px;
}
.slide-section .tab-btn-container .btn-wrap .btn img {
  width: 24px;
}
.slide-section .tab-btn-container .btn-wrap .active {
  background-color: #f7f7f7;
}
.slide-section .content {
  max-width: 1200px;
  height: 670px;
  margin: 0 auto;
  display: none;
  padding: 74px 0px;
}
.slide-section .content .left-container {
  width: 880px;
}
.slide-section .content .left-container .audio-icon {
  width: 44px;
  height: 44px;
  border-radius: 300px;
  background-color: #ffeb60;
  position: relative;
}
.slide-section .content .left-container .audio-icon img {
  width: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slide-section .content .left-container strong {
  display: block;
  font-weight: 700;
  font-size: 49px;
  color: #242424;
  padding: 23px 0;
}
.slide-section .content .left-container p {
  font-size: 22px;
  line-height: 27px;
  color: #555;
}
.slide-section .content .left-container .left-main {
  margin-top: 300px;
}
.slide-section .content .left-container .left-main .left-text {
  font-size: 22px;
  line-height: 30px;
  color: #555;
  display: none;
  min-height: 95px;
}
.slide-section .content .left-container .left-main .left-text b {
  color: #242424;
}
.slide-section .content .left-container .left-main .active {
  display: block;
}
.slide-section .content .left-container .left-main .slide-btn-container {
  display: flex;
  width: 262px;
  margin-top: 30px;
}
.slide-section .content .left-container .left-main .slide-btn-container .slide-btn {
  margin-right: 8px;
  padding: 4px 18px;
  display: block;
  border: 1px solid #242424;
  border-radius: 100px;
  font-size: 14px;
  background: transparent;
  opacity: 1;
  color: black;
  cursor: pointer;
}
.slide-section .content .left-container .left-main .slide-btn-container .active {
  background-color: #242424;
  color: #fff;
}
.slide-section .content .right-wrap {
  width: 320px;
}
.slide-section .content .right-wrap .right-container {
  width: 320px;
  height: 660px;
  position: relative;
  border-radius: 52px;
  overflow: hidden;
}
.slide-section .content .right-wrap .right-container .slide-container {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s ease-out;
}
.slide-section .content .right-wrap .right-container .slide-container .slide {
  float: left;
  width: 320px;
  height: 660px;
}
.slide-section .content .right-wrap .right-container .slide-container .slide .slide-box {
  width: 100%;
  height: 100%;
}
.slide-section .content .right-wrap .right-container .slide-container .slide .slide-box img {
  width: 100%;
  height: 100%;
}
.slide-section .content .right-wrap .right-container .slide-container .slide .slide-box video {
  width: 100%;
  height: 100%;
}
.slide-section .content .right-wrap .right-container .phone {
  width: 100%;
  position: absolute;
}
.slide-section .active {
  display: flex;
}