.intro-section {
  width: 100%;
  height: 900px;
  background: linear-gradient(#f8faff 67.5%, #f0f4ff 0);
}
@media (max-width: 700px) {
  .intro-section {
    height: 700px;
  }
}
.intro-section .wrap {
  background: url(/src/assets/images/main-bg.png) no-repeat;
  display: block;
  background-size: 920px;
  background-position: 100% 55%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 1200px) {
  .intro-section .wrap {
    width: 100%;
    padding: 0 0.3rem;
    background-size: 80%;
  }
}
@media (max-width: 700px) {
  .intro-section .wrap {
    background-size: 99%;
    background-position: 100% 75%;
  }
}
.intro-section .wrap_slogan {
  display: block;
  color: transparent;
  position: absolute;
  margin-left: 60px;
}
.intro-section .wrap_slogan-main {
  background: url(/src/assets/images/main_slogan.png) no-repeat;
  background-size: 100%;
  height: 223px;
  width: 360px;
  left: -2rem;
  top: 150px;
}
@media (max-width: 1200px) {
  .intro-section .wrap_slogan-main {
    left: 0;
    background-size: 80%;
  }
}
@media (max-width: 700px) {
  .intro-section .wrap_slogan-main {
    background-size: 70%;
    top: 6rem;
    left: -2rem;
  }
}
.intro-section .wrap_slogan-logo {
  background: url(/src/assets/images/main_slogan_logo.png) no-repeat;
  background-size: 178px;
  height: 47px;
  width: 180px;
  left: -2rem;
  bottom: 90px;
}
@media (max-width: 1200px) {
  .intro-section .wrap_slogan-logo {
    display: none;
  }
}

.platform-section {
  width: 100%;
  padding: 5rem 3.5rem 6rem;
  background-color: #ffeb60;
}
.platform-section_wrap {
  width: 890px;
  margin: 0 auto;
}
.platform-section_wrap .contents-header {
  width: 100%;
  text-align: center;
}
.platform-section_wrap .contents-header h2 {
  font-size: 3.2rem;
  padding-bottom: 2rem;
}
.platform-section_wrap .contents-header p {
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: #555;
}
.platform-section_wrap_card-wrap {
  width: 100%;
}
.platform-section_wrap_card-wrap ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 3rem auto 0;
}
.platform-section_wrap_card-wrap ul .card {
  padding: 32px;
  border-radius: 20px;
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 8px 20px 0 rgba(0, 0, 0, 0.1);
}
.platform-section_wrap_card-wrap ul .card_card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.platform-section_wrap_card-wrap ul .card_card-header strong {
  font-size: 1.8rem;
}
.platform-section_wrap_card-wrap ul .card_card-header i {
  width: 2rem;
  background-size: 100%;
  background-repeat: no-repeat;
}
.platform-section_wrap_card-wrap ul .card_card-header i.card-icon1 {
  background-image: url(/src/assets/images/platform-icon1.png);
}
.platform-section_wrap_card-wrap ul .card_card-header i.card-icon2 {
  background-image: url(/src/assets/images/platform-icon2.png);
}
.platform-section_wrap_card-wrap ul .card_card-header i.card-icon3 {
  background-image: url(/src/assets/images/platform-icon3.png);
}
.platform-section_wrap_card-wrap ul .card_card-header i.card-icon4 {
  background-image: url(/src/assets/images/platform-icon4.png);
}
.platform-section_wrap_card-wrap ul .card p {
  font-size: 0.8rem;
  color: #555;
}
.platform-section_wrap_quote-wrap {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
  padding: 20px 26px 16px;
  border-radius: 16px;
  background-color: #ffe04b;
  margin-top: 3rem;
}
.platform-section_wrap_quote-wrap .quote-item {
  position: relative;
  padding-left: 15px;
  color: #aa8525;
  font-size: 0.8rem;
}
.platform-section_wrap_quote-wrap .quote-item::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 6px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #aa8525;
}