.intro-section {
  width: 100%;
  height: 900px;
  background: linear-gradient(#f8faff 67.5%, #f0f4ff 0);
}
@media (max-width: 700px) {
  .intro-section {
    height: 700px;
  }
}
.intro-section .wrap {
  background: url(/src/assets/images/main-bg.png) no-repeat;
  display: block;
  background-size: 920px;
  background-position: 100% 55%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 1200px) {
  .intro-section .wrap {
    width: 100%;
    padding: 0 0.3rem;
    background-size: 80%;
  }
}
@media (max-width: 700px) {
  .intro-section .wrap {
    background-size: 99%;
    background-position: 100% 75%;
  }
}
.intro-section .wrap_slogan {
  display: block;
  color: transparent;
  position: absolute;
  margin-left: 60px;
}
.intro-section .wrap_slogan-main {
  background: url(/src/assets/images/main_slogan.png) no-repeat;
  background-size: 100%;
  height: 223px;
  width: 360px;
  left: -2rem;
  top: 150px;
}
@media (max-width: 1200px) {
  .intro-section .wrap_slogan-main {
    left: 0;
    background-size: 80%;
  }
}
@media (max-width: 700px) {
  .intro-section .wrap_slogan-main {
    background-size: 70%;
    top: 6rem;
    left: -2rem;
  }
}
.intro-section .wrap_slogan-logo {
  background: url(/src/assets/images/main_slogan_logo.png) no-repeat;
  background-size: 178px;
  height: 47px;
  width: 180px;
  left: -2rem;
  bottom: 90px;
}
@media (max-width: 1200px) {
  .intro-section .wrap_slogan-logo {
    display: none;
  }
}

.platform-section {
  width: 100%;
  padding: 5rem 3.5rem 6rem;
  background-color: #ffeb60;
}
.platform-section_wrap {
  width: 890px;
  margin: 0 auto;
}
.platform-section_wrap .contents-header {
  width: 100%;
  text-align: center;
}
.platform-section_wrap .contents-header h2 {
  font-size: 3.2rem;
  padding-bottom: 2rem;
}
.platform-section_wrap .contents-header p {
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: #555;
}
.platform-section_wrap_card-wrap {
  width: 100%;
}
.platform-section_wrap_card-wrap ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 3rem auto 0;
}
.platform-section_wrap_card-wrap ul .card {
  padding: 32px;
  border-radius: 20px;
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 8px 20px 0 rgba(0, 0, 0, 0.1);
}
.platform-section_wrap_card-wrap ul .card_card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.platform-section_wrap_card-wrap ul .card_card-header strong {
  font-size: 1.8rem;
}
.platform-section_wrap_card-wrap ul .card_card-header i {
  width: 2rem;
  background-size: 100%;
  background-repeat: no-repeat;
}
.platform-section_wrap_card-wrap ul .card_card-header i.card-icon1 {
  background-image: url(/src/assets/images/platform-icon1.png);
}
.platform-section_wrap_card-wrap ul .card_card-header i.card-icon2 {
  background-image: url(/src/assets/images/platform-icon2.png);
}
.platform-section_wrap_card-wrap ul .card_card-header i.card-icon3 {
  background-image: url(/src/assets/images/platform-icon3.png);
}
.platform-section_wrap_card-wrap ul .card_card-header i.card-icon4 {
  background-image: url(/src/assets/images/platform-icon4.png);
}
.platform-section_wrap_card-wrap ul .card p {
  font-size: 0.8rem;
  color: #555;
}
.platform-section_wrap_quote-wrap {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
  padding: 20px 26px 16px;
  border-radius: 16px;
  background-color: #ffe04b;
  margin-top: 3rem;
}
.platform-section_wrap_quote-wrap .quote-item {
  position: relative;
  padding-left: 15px;
  color: #aa8525;
  font-size: 0.8rem;
}
.platform-section_wrap_quote-wrap .quote-item::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 6px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #aa8525;
}

.introduce-section {
  width: 100%;
  padding: 5rem 3.5rem 6rem;
}
.introduce-section_wrap {
  width: 1200px;
  margin: 0 auto;
}
.introduce-section_wrap .contents-header {
  width: 100%;
  text-align: center;
}
.introduce-section_wrap .contents-header h2 {
  font-size: 3.2rem;
  padding-bottom: 2rem;
}
.introduce-section_wrap .contents-header p {
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: #555;
}
.introduce-section_wrap_flow-animation-wrap {
  margin-top: 4rem;
}
.introduce-section_wrap_flow-animation-wrap .img-flow {
  height: 220px;
  display: block;
  background-repeat: repeat-x;
  background-size: 3000px;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin-bottom: 1rem;
}
.introduce-section_wrap_flow-animation-wrap .img-flow1 {
  background: url(/src/assets/images/slide1.png);
  animation-name: flow_left;
}
.introduce-section_wrap_flow-animation-wrap .img-flow2 {
  background: url(/src/assets/images/slide2.png);
  animation-name: flow_right;
}
.introduce-section_wrap_flow-animation-wrap .img-flow3 {
  background: url(/src/assets/images/slide3.png);
  animation-name: flow_left;
}
@keyframes flow_left {
  from {
    background-position: 0px;
  }
  to {
    background-position: -3000px;
  }
}
@keyframes flow_right {
  from {
    background-position: -3000px;
  }
  to {
    background-position: 0px;
  }
}

.audiodrama-section {
  width: 100%;
  padding: 5rem 3.5rem 6rem;
  background-color: #f7f7f7;
}
.audiodrama-section_wrap {
  width: 1200px;
  margin: 0 auto;
}
.audiodrama-section_wrap .contents-header {
  width: 100%;
  text-align: center;
}
.audiodrama-section_wrap .contents-header h2 {
  font-size: 3.2rem;
  padding-bottom: 2rem;
}
.audiodrama-section_wrap .contents-header p {
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: #555;
}
.audiodrama-section_wrap .video-poster {
  width: 850px;
  margin: 4rem auto 0;
  position: relative;
}
.audiodrama-section_wrap .video-poster img {
  width: 100%;
}
.audiodrama-section_wrap .video-poster::before {
  content: "";
  background: url(/src/assets/images/video-icon.png);
  background-size: 4rem;
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.book-list-section {
  width: 100%;
  padding: 5rem 3.5rem 6rem;
}
.book-list-section_wrap {
  width: 1200px;
  margin: 0 auto;
}
.book-list-section_wrap .contents-header {
  width: 100%;
  text-align: center;
}
.book-list-section_wrap .contents-header h2 {
  font-size: 3.2rem;
  padding-bottom: 2rem;
}
.book-list-section_wrap .contents-header p {
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: #555;
}
.book-list-section_wrap .booksList-container .books-list {
  margin-bottom: 5rem;
}
.book-list-section_wrap .booksList-container .books-list strong {
  display: block;
  font-size: 1.5rem;
  line-height: 28px;
  color: #242424;
  margin-bottom: 1rem;
  padding-left: 0.7rem;
}
.book-list-section_wrap .booksList-container .books-list .book-container {
  width: 100%;
}
.book-list-section_wrap .booksList-container .books-list .book-container .slide-wrap {
  width: 100%;
  display: flex;
}
.book-list-section_wrap .booksList-container .books-list .book-container .slide-wrap .book {
  width: 14.2857142857%;
  padding: 0.7rem;
}
.book-list-section_wrap .booksList-container .books-list .book-container .slide-wrap .book .book-thumbnail {
  width: 100%;
  padding-bottom: 0.5rem;
}
.book-list-section_wrap .booksList-container .books-list .book-container .slide-wrap .book-title {
  font-weight: 500;
  overflow: hidden;
  max-height: 3rem;
  margin-bottom: 0.2rem;
}
.book-list-section_wrap .booksList-container .books-list .book-container .slide-wrap .book-authors {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.9rem;
  color: #929292;
}
.book-list-section_wrap .booksList-container .books-list .book-container .slide-wrap .book-publisher {
  font-size: 0.8rem;
  color: #929292;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.challenge-section {
  width: 100%;
  padding: 5rem 3.5rem 6rem;
  background-color: #f7f7f7;
}
.challenge-section_wrap {
  width: 1200px;
  margin: 0 auto;
}
.challenge-section_wrap .contents-header {
  width: 100%;
  text-align: center;
}
.challenge-section_wrap .contents-header h2 {
  font-size: 3.2rem;
  padding-bottom: 2rem;
}
.challenge-section_wrap .contents-header p {
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: #555;
}
.challenge-section_wrap_contents-container {
  width: 100%;
  margin-top: 5rem;
}
.challenge-section_wrap_contents-container_main {
  width: 100%;
  height: 600px;
  background: url(/src/assets/images/challenge-bg.png) no-repeat;
  background-size: 100% 100%;
}
.challenge-section_wrap_contents-container_main_text-container {
  width: 100%;
  padding-top: 3rem;
  text-align: center;
}
.challenge-section_wrap_contents-container_main_text-container h3 {
  font-size: 2.5rem;
}
.challenge-section_wrap_contents-container_main_text-container p {
  font-size: 1.35rem;
  margin-top: 1rem;
  color: #333;
}
.challenge-section_wrap_contents-container_card-wrap {
  width: 100%;
  margin-top: 3rem;
}
.challenge-section_wrap_contents-container_card-wrap .card-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.challenge-section_wrap_contents-container_card-wrap .card-container img {
  width: 30%;
  border-radius: 1.5rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.1);
}

.book-tab-section {
  width: 100%;
  padding: 5rem 3.5rem 6rem;
}
.book-tab-section_wrap {
  width: 1200px;
  margin: 0 auto;
}
.book-tab-section_wrap .contents-header {
  width: 100%;
  text-align: center;
}
.book-tab-section_wrap .contents-header h2 {
  font-size: 3.2rem;
  padding-bottom: 2rem;
}
.book-tab-section_wrap .contents-header p {
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: #555;
}
.book-tab-section_wrap_main {
  margin-top: 5rem;
}
.book-tab-section_wrap_main .tab-menu-container .btn-wrap {
  padding-left: 0.7rem;
}
.book-tab-section_wrap_main .tab-menu-container .btn-wrap .btn {
  font-size: 14px;
  overflow: hidden;
  padding: 6px 16px;
  display: inline-block;
  border: 1px solid #242424;
  border-radius: 100px;
  margin-right: 12px;
  color: #242424;
  cursor: pointer;
}
.book-tab-section_wrap_main .tab-menu-container .btn-wrap .btn.active {
  color: #fff;
  background-color: #242424;
}
.book-tab-section_wrap_main .tab-menu-container_book-list-container {
  width: 100%;
}
.book-tab-section_wrap_main .tab-menu-container_book-list-container .book-list {
  display: none;
}
.book-tab-section_wrap_main .tab-menu-container_book-list-container .book-list.active {
  display: block;
}
.book-tab-section_wrap_main .tab-menu-container_book-list-container .book-list .slide-wrap {
  width: 100%;
  display: flex;
}
.book-tab-section_wrap_main .tab-menu-container_book-list-container .book-list .slide-wrap .book {
  width: 14.2857142857%;
  padding: 0.7rem;
}
.book-tab-section_wrap_main .tab-menu-container_book-list-container .book-list .slide-wrap .book .book-thumbnail {
  width: 100%;
  padding-bottom: 0.5rem;
}
.book-tab-section_wrap_main .tab-menu-container_book-list-container .book-list .slide-wrap .book-title {
  font-weight: 500;
  overflow: hidden;
  max-height: 3rem;
  margin-bottom: 0.2rem;
}
.book-tab-section_wrap_main .tab-menu-container_book-list-container .book-list .slide-wrap .book-authors {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.9rem;
  color: #929292;
}
.book-tab-section_wrap_main .tab-menu-container_book-list-container .book-list .slide-wrap .book-publisher {
  font-size: 0.8rem;
  color: #929292;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}