$main-color: #ffeb60;

@mixin contents-header {
	.contents-header {
		width: 100%;
		text-align: center;

		h2 {
			font-size: 3.2rem;
			padding-bottom: 2rem;
		}

		p {
			font-size: 1.4rem;
			line-height: 2.5rem;
			color: #555;
		}
	}
}

@mixin section {
	width: 100%;
	padding: 5rem 3.5rem 6rem;
}

@mixin book {
	.slide-wrap {
		width: 100%;
		display: flex;

		.book {
			width: calc(100% / 7);
			padding: .7rem;

			.book-thumbnail {
				width: 100%;
				padding-bottom: .5rem;
			}
		}

		.book-title {
			font-weight: 500;
			overflow: hidden;
			max-height: 3rem;
			margin-bottom: .2rem;
		}

		.book-authors {
			width: 100%;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			font-size: .9rem;
			color: #929292;
		}

		.book-publisher {
			font-size: 0.8rem;
			color: #929292;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
	}
}

.intro-section {
	width: 100%;
	height: 900px;
	background: linear-gradient(#f8faff 67.5%, #f0f4ff 0);

	@media (max-width: 700px) {
		height: 700px;
	}

	.wrap {
		background: url(/src/assets/images/main-bg.png) no-repeat;
		display: block;
		background-size: 920px;
		background-position: 100% 55%;
		height: 100%;
		max-width: 1200px;
		margin: 0 auto;
		position: relative;

		@media (max-width: 1200px) {
			width: 100%;
			padding: 0 .3rem;
			background-size: 80%;
		}

		@media (max-width: 700px) {
			background-size: 99%;
			background-position: 100% 75%;
		}

		&_slogan {
			display: block;
			color: transparent;
			position: absolute;
			margin-left: 60px;
		}

		&_slogan-main {
			background: url(/src/assets/images/main_slogan.png) no-repeat;
			background-size: 100%;
			height: 223px;
			width: 360px;
			left: -2rem;
			top: 150px;

			@media (max-width: 1200px) {
				left: 0;
				background-size: 80%;
			}

			@media (max-width: 700px) {
				background-size: 70%;
				top: 6rem;
				left: -2rem;
			}
		}

		&_slogan-logo {
			background: url(/src/assets/images/main_slogan_logo.png) no-repeat;
			background-size: 178px;
			height: 47px;
			width: 180px;
			left: -2rem;
			bottom: 90px;

			@media (max-width: 1200px) {
				display: none;
			}
		}
	}
}

.platform-section {
	@include section;
	background-color: $main-color;

	&_wrap {
		width: 890px;
		margin: 0 auto;

		@include contents-header;

		&_card-wrap {
			width: 100%;

			ul {
				width: 100%;
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				gap: 2rem;
				margin: 3rem auto 0;

				.card {
					padding: 32px;
					border-radius: 20px;
					border-radius: 1rem;
					background: #fff;
					box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .1), 0 8px 20px 0 rgba(0, 0, 0, .1);

					&_card-header {
						width: 100%;
						display: flex;
						justify-content: space-between;
						margin-bottom: 1.5rem;

						strong {
							font-size: 1.8rem;
						}

						i {
							width: 2rem;
							background-size: 100%;
							background-repeat: no-repeat;

							&.card-icon1 {
								background-image: url(/src/assets/images/platform-icon1.png);
							}

							&.card-icon2 {
								background-image: url(/src/assets/images/platform-icon2.png);
							}

							&.card-icon3 {
								background-image: url(/src/assets/images/platform-icon3.png);
							}

							&.card-icon4 {
								background-image: url(/src/assets/images/platform-icon4.png);
							}
						}
					}

					p {
						font-size: .8rem;
						color: #555;
					}
				}
			}
		}

		&_quote-wrap {
			width: 100%;
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 4px;
			padding: 20px 26px 16px;
			border-radius: 16px;
			background-color: #ffe04b;
			margin-top: 3rem;

			.quote-item {
				position: relative;
				padding-left: 15px;
				color: #aa8525;
				font-size: .8rem;

				&::before {
					content: "";
					position: absolute;
					top: 8px;
					left: 6px;
					width: 5px;
					height: 5px;
					border-radius: 50%;
					background-color: #aa8525;
				}
			}
		}
	}
}

.introduce-section {
	@include section;

	&_wrap {
		width: 1200px;
		margin: 0 auto;

		@include contents-header;

		&_flow-animation-wrap {
			margin-top: 4rem;

			.img-flow {
				height: 220px;
				display: block;
				background-repeat: repeat-x;
				background-size: 3000px;
				animation-duration: 100s;
				animation-iteration-count: infinite;
				animation-timing-function: linear;
				margin-bottom: 1rem;
			}

			.img-flow1 {
				background: url(/src/assets/images/slide1.png);
				animation-name: flow_left;
			}

			.img-flow2 {
				background: url(/src/assets/images/slide2.png);
				animation-name: flow_right;
			}

			.img-flow3 {
				background: url(/src/assets/images/slide3.png);
				animation-name: flow_left;
			}

			@keyframes flow_left {
				from {
					background-position: 0px;
				}

				to {
					background-position: -3000px;
				}
			}

			@keyframes flow_right {
				from {
					background-position: -3000px;
				}

				to {
					background-position: 0px;
				}
			}
		}
	}
}

.audiodrama-section {
	@include section;
	background-color: #f7f7f7;

	&_wrap {
		width: 1200px;
		margin: 0 auto;

		@include contents-header;

		.video-poster {
			width: 850px;
			margin: 4rem auto 0;
			position: relative;

			img {
				width: 100%;
			}

			&::before {
				content: "";
				background: url(/src/assets/images/video-icon.png);
				background-size: 4rem;
				width: 4rem;
				height: 4rem;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				cursor: pointer;
			}
		}
	}
}

.book-list-section {
	@include section;

	&_wrap {
		width: 1200px;
		margin: 0 auto;

		@include contents-header;

		.booksList-container {

			.books-list {
				margin-bottom: 5rem;

				strong {
					display: block;
					font-size: 1.5rem;
					line-height: 28px;
					color: #242424;
					margin-bottom: 1rem;
					padding-left: .7rem;
				}

				.book-container {
					width: 100%;

					@include book;
				}
			}
		}
	}
}

.challenge-section {
	@include section;
	background-color: #f7f7f7;

	&_wrap {
		width: 1200px;
		margin: 0 auto;

		@include contents-header;

		&_contents-container {
			width: 100%;
			margin-top: 5rem;

			&_main {
				width: 100%;
				height: 600px;
				background: url(/src/assets/images/challenge-bg.png) no-repeat;
				background-size: 100% 100%;

				&_text-container {
					width: 100%;
					padding-top: 3rem;
					text-align: center;

					h3 {
						font-size: 2.5rem;
					}

					p {
						font-size: 1.35rem;
						margin-top: 1rem;
						color: #333;
					}
				}
			}

			&_card-wrap {
				width: 100%;
				margin-top: 3rem;

				.card-container {
					width: 100%;
					display: flex;
					justify-content: space-between;

					img {
						width: 30%;
						border-radius: 1.5rem;
						box-shadow: 0 8px 20px rgba(0, 0, 0, .1), 0 2px 8px rgba(0, 0, 0, .1);
					}
				}
			}
		}
	}
}

.book-tab-section {
	@include section;

	&_wrap {
		width: 1200px;
		margin: 0 auto;

		@include contents-header;

		&_main {
			margin-top: 5rem;

			.tab-menu-container {

				.btn-wrap {
					padding-left: .7rem;

					.btn {
						font-size: 14px;
						overflow: hidden;
						padding: 6px 16px;
						display: inline-block;
						border: 1px solid #242424;
						border-radius: 100px;
						margin-right: 12px;
						color: #242424;
						cursor: pointer;

						&.active {
							color: #fff;
							background-color: #242424;
						}
					}
				}

				&_book-list-container {
					width: 100%;

					.book-list {
						display: none;

						&.active {
							display: block;
						}

						@include book;
					}
				}
			}
		}
	}
}

.reading-section {
	@include section;
	background-color: #f7f7f7;

	&_wrap {
		width: 1200px;
		margin: 0 auto;

		@include contents-header;

		&_main {
			width: 100%;
			height: 550px;
			margin: 0 auto;


			&_animation-container {
				max-width: 1200px;
				height: 100%;
				position: relative;
				margin: 0 auto;

				.mock {
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					bottom: 0;
				}

				.tooltip {
					position: absolute;
					top: 52%;
					left: 48%;
					transform: translate(-50%);


					img {
						width: 100%;
						height: 100%;
					}
				}

				.card {
					width: 175px;
					height: 175px;
					position: absolute;


					img {
						width: 100%;
						height: 100%;
					}
				}

				.card1 {
					top: 52%;
					left: 5%;
					opacity: 1;
				}

				.card2 {
					top: 18%;
					left: 14%;
					opacity: 1;

				}

				.card4 {
					top: 52%;
					left: 77%;
					opacity: 1;

				}

				.card3 {
					top: 15%;
					left: 68%;
					opacity: 1;

				}
			}

			@keyframes card {
				0% {
					transform: scale(.7);
					opacity: 0;
				}

				50% {
					transform: scale(.9);
					opacity: .2;
				}

				75% {
					transform: scale(1.05);
					opacity: .6;
				}

				100% {
					transform: scale(1);
					opacity: 1;
				}
			}
		}
	}
}

.price-section {
	@include section;
	background-color: $main-color;

	&_wrap {
		width: 1200px;
		margin: 0 auto;

		@include contents-header;

		&_main {
			max-width: 1024px;
			margin: 0 auto;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			margin-top: 4.5rem;

			&_container {
				display: flex;
				width: 66.6%;

				&_info {
					background: #fff;
					border-radius: 16px;
					padding: 32px;
					width: 50%;
					margin-right: 1.5rem;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					box-shadow: 10px 10px 40px rgb(0 0 0 / 10%);

					strong {
						font-weight: 700;
						font-size: 1.3rem;
						color: #242424;
					}

					.month {
						display: flex;
						align-items: baseline;
						margin: 16px 0;

						span {
							font-weight: 300;
							font-size: 24px;
							color: #242424;
							margin-right: 6px;
						}

						p {
							font-weight: 900;
							font-size: 40px;
							line-height: 100%;
							color: #242424;
							margin-right: 2px;

							b {
								font-weight: 700;
								font-size: 16px;
								color: #242424;
							}
						}
					}

					.year {
						margin-bottom: 1rem;

						&_price {
							display: flex;
							flex-direction: row;
							align-items: center;

							p {
								font-weight: 300;
								font-size: 1.1rem;
								line-height: 22px;
								color: #6f6f6f;
								margin: 0 .5rem 0 1.5rem;
								text-decoration: line-through;
							}

							img {
								width: 57px;
								vertical-align: top;
							}
						}

						&_discount {
							display: flex;
							flex-direction: row;
							align-items: center;

							span {
								font-weight: 300;
								font-size: 24px;
								color: #242424;
								margin-right: 6px;
							}

							p {
								font-weight: 900;
								font-size: 40px;
								line-height: 100%;
								color: #242424;
								margin-right: 2px;

								b {
									font-weight: 700;
									font-size: 16px;
									color: #242424;
								}
							}
						}
					}

					p {
						font-size: .9rem;
						line-height: 20px;
						color: #6f6f6f;
						text-align: left;
					}
				}

			}

			&_info-container {

				&_container {
					display: flex;
					align-items: center;
					flex-direction: row;
					padding-bottom: 1rem;

					img {
						width: 72px;
						margin-right: 24px;
					}

					p {
						font-weight: 700;
						font-size: 1rem;
						line-height: 22px;
						color: #242424;
					}
				}

			}
		}
	}
}
